[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/hugo-search-fuse-js"]
	path = themes/hugo-search-fuse-js
	url = https://github.com/kaushalmodi/hugo-search-fuse-js
